.banner-line {
  .bg-hr {
    background: url(//cdn.shopify.com/s/files/1/1606/0723/t/24/assets/hr.png?38)
    no-repeat scroll 50% 0 transparent;
    clear: both;
    content: "";
    height: 2px;
    width: 100%;
    margin: 15px 0px;
    border: none;
  }
}

.banner_section {
  .promotional-banners {
    h3 {
      color: #000000;
      font:  26px "Work Sans", HelveticaNeue;
      text-align: center;
      text-transform: capitalize;
    }
    margin-bottom: 15px;
  }
  .banner-images {
    .banner-all {
      width: 25%; float: left;
    }
    min-width: 1200px;
  }
  padding-bottom: 25px;
}