.featured-line {
  .bg-hr-featured {
    background: url(//cdn.shopify.com/s/files/1/1606/0723/t/24/assets/hr.png?38)
    no-repeat scroll 50% 0 transparent;
    clear: both;
    content: "";
    height: 2px;
    width: 100%;
    margin: 15px 0px;
    border: none;
  }
}
.featured-collection {
  .featured-banners {
    h3 {
      color: #000000;
      font:  26px "Work Sans", HelveticaNeue;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .featured-main {
    .featured-banner {
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 50%;
      margin-top: 20px;
      padding-bottom: 25px;
    }
    min-width: 1200px;
  }
}