.main-footer {
  .container {
    .about-us {
      .heading {
        .spn-header{
          display: inline-block;
          border-bottom: 3px solid #000000;
          font: 16px "Work Sans", HelveticaNeue;
        }
        border-bottom: 1px solid #eee;
      }
      .about-us-txt {
        margin-bottom: 15px;
        font-size: 13px;
        color: #000000;
      }
      padding-bottom: 35px;
    }

    .navbar {
      .list {
        li {
          ul {
            display: block;
            float: left;
          }
          display: inline-block;
          padding: 5px 10px;
          color: black;
          text-align: left;
        }
        ul {
          li {
            display: block;
            color: black;
          }

          ul {
            position: absolute;
            top: 0;
            left: 100%;
          }
          position: absolute;
          display: none;
          margin: 0;
          padding: 5px 10px;
        }

        a{
          display: inline;
          color: #000000;
        }

        a:hover {
          cursor: pointer;
          color: #e40040;
        }

        .heading-under {
          .spn-header {
            display: inline-block;
            border-bottom: 3px solid #000000;
            font: 16px "Work Sans", HelveticaNeue;
          }
        }
        list-style:none;
        color: black;
        margin: 0;
        opacity : 1;
        float: left;
        text-transform: capitalize;
      }
      display: inline-block;
      border-top: 2px solid #eee;
      width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
    }
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .help-services {
    .help-area {
      .help-header {
        .spn-help {
          display: inline-block;
          border-bottom: 3px solid #000000;
          font: 16px "Work Sans", HelveticaNeue;
        }
      }
    }
    float: right;
  }
  padding-top: 25px;
}