.main-header {
  .top {
    .header-content {
      .logo {
        float: left;
        padding-right: 15px;
      }

      #logo {
        max-height: 65px;
        max-width: 100%;
      }
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar {
      .list {
        li {
          display: inline-block;
          padding: 5px 10px;
          color: black;
        }
        li:hover > ul {
          display: block;
        }
        ul {
          li {
            display: block;
            color: black;
          }
          ul {
            position: absolute;
            top: 0;
            left: 100%;
          }
          position: absolute;
          display: none;
          margin: 0;
          padding: 5px 10px;
        }
        a {
          display: inline;
          color: #000000
        }
        a:hover {
          cursor: pointer;
          color: #e40040;
          padding-bottom: 100%;
        }
        list-style:none;
        color: black;
        margin: 0;
        opacity : 1;
        display: inline-block;
      }
      float: left;
      text-align: center;
      width: 76%;
    }
    padding: 5px 0;
    position: relative;
    .side-menu {
      .side-list {
        li {
          .search {
            width: 20px;
            height: 20px;
            float: left;
          }
          padding: 5px 2px;
          float: left;
        }
        a:hover {
          cursor: pointer;
          color: #e40040;
        }
      }
      display: inline-block;
      text-align: right;
    }
  }
  text-transform: uppercase;
  font: 15px 'Nexa-bold';
  color: #000000;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}