.home-banner-line {
  .bg-hr-banner {
    margin: 15px 0;
    background: url(//cdn.shopify.com/s/files/1/1606/0723/t/24/assets/hr.png?38)
    no-repeat scroll 50% 0 transparent;
    clear: both;
    content: "";
    height: 2px;
    width: 100%;
    margin: 15px 0px;
    border: none;}
}
.home-banner {
  padding: 25px 0;
}