.shopping-banners {
  width: 100%;
}

.shopping-banner-line {
  .bg-hr-featured {
    padding-bottom: 25px;
  }
}

.shopping-banners {
  .banner-img {
    width: 50%;
    float: left;
    padding-right: 0;
    padding-left: 0;
  }

  .banner-txt {
    float: left;
    padding: 0 30px;
    word-wrap: break-word;
    width: 50%;
  }

  .banner-txt {
    .heading {
      color: #000000;
      font: 26px "Work Sans", HelveticaNeue;
      margin: 0px 0px 12px;
    }
  }
}