<!DOCTYPE html>
<html>
  <!-- Head Starts -->
<head>
  
  {{content_for_header}}
  
  <title>First Shopify Page</title>
  
  <!-- All The Neccessary Meta Tags -->
  <meta name="title" content="First Shopify Page">
  <meta name="description" content="Welcome To The E-Commerce World...!!!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lucent-theme-8.myshopify.com/password">
  <meta property="og:title" content="Homepage">
  <meta property="og:description" content="This is the homepage of the website.">
  <meta property="og:image" content="https://image.flaticon.com/icons/svg/825/825500.svg">

  <!-- Properties For Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://lucent-theme-8.myshopify.com/password">
  <meta property="twitter:title" content="Homepage">
  <meta property="twitter:description" content="This is the homepage of the website.">
  <meta property="twitter:image" content="https://image.flaticon.com/icons/svg/825/825500.svg">
  
  <!-- External Style Sheets -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bundle.scss.css' | asset_url | stylesheet_tag }}

  
</head>
<!-- Head End -->
  
<body>
  
  <!--  Add Header Section -->
    {% section 'header-main' %}
  
  <!--  Page Content -->
    {{content_for_layout}}
  
  <!-- Add footer Section -->
  {% section 'footer-main' %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

   <script type="text/javascript" src="{{ 'bundle.js'  | asset_url }}" defer="defer"></script> 
  
</body>
  <!-- Body End -->
  
</html>