<div class="banner-line">
  <hr class="bg-hr">
</div>

<div class="banner_section">
  <div class="promotional-banners">
    <h3 class="promotional-heading">
      promotional banners
    </h3>
  </div>

  <div class="banner-images clearfix">
    <div class="banner-all">
      <div class="img">
        {%- assign src_name = section.settings.banner1 -%}
        {%- assign src_alt = section.settings.banner1.alt -%}
        {% include 'srcset' %}
      </div>
    </div>

    <div class="banner-all">
      <div class="img">
        {%- assign src_name = section.settings.banner2 -%}
        {%- assign src_alt = section.settings.banner2.alt -%}
        {% include 'srcset' %}
      </div>
    </div>

    <div class="banner-all">
      <div class="img">
        {%- assign src_name = section.settings.banner3 -%}
        {%- assign src_alt = section.settings.banner3.alt -%}
        {% include 'srcset' %}
      </div>
    </div>

    <div class="banner-all">
      <div class="img">
        {%- assign src_name = section.settings.banner4 -%}
        {%- assign src_alt = section.settings.banner4.alt -%}
        {% include 'srcset' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banners",
    "settings": [
      {
        "type" : "image_picker",
        "id"  : "banner1",
        "label" : "Banner 1"
      },
      {
        "type" : "image_picker",
        "id"  : "banner2",
        "label" : "Banner 2"
      },
      {
        "type" : "image_picker",
        "id"  : "banner3",
        "label" : "Banner 3"
      },
      {
        "type" : "image_picker",
        "id"  : "banner4",
        "label" : "Banner 4"
      }
    ],

    "presets": [
      {
        "category":"Custom Content",
        "name":"Banners"
      }
    ]
  }
{% endschema %}