<div class="featured-line">
  <hr class="bg-hr-featured">
</div>

<div class="featured-collection">
  <div class="featured-banners">
    <h3 class="featured-heading">
      featured collection
    </h3>
  </div>

  <div class="featured-main">
    <div class="featured-banner">
      <div class="img">
        {%- assign src_name = section.settings.featured_banner1 -%}
        {%- assign src_alt = section.settings.featured_banner1.alt -%}
        {% include 'srcset' %}
      </div>
    </div>

    <div class="featured-banner">
      <div class="img">
        {%- assign src_name = section.settings.featured_banner2 -%}
        {%- assign src_alt = section.settings.featured_banner2.alt -%}
        {% include 'srcset' %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name" : "Featured Collection",
    "settings": [
      {
        "type" : "image_picker",
        "id"  : "featured_banner1",
        "label" : "Banner 1"
      },
      {
        "type" : "image_picker",
        "id"  : "featured_banner2",
        "label" : "Banner 2"
      }
    ],
    "presets": [
      {
        "category":"Custom Content",
        "name":"Featured collection"
      }
    ]
  }
{% endschema %}