<footer class="main-footer">
  <div class="container">
    <div class="about-us">
      <h4 class="heading">
        <span class="spn-header">{{ section.settings.txt_aboutus | escape }}</span>
      </h4>

      <div class="about-us-txt">
        {% for block in section.blocks %}
          {{ block.settings.about_us}}
        {% endfor %}
      </div>
    </div>

    <div class="navbar clearfix">
      <ul class="list">
      {% for link in linklists.footer.links %}
        <li><h4 class="heading-under"><span class="spn-header">{{ link.title | escape }}</span></h4>
        {% if link.links != blank %}
          <ul class="child">
          {% for child_link in link.links %}
            <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
            {% if child_link.links != blank %}
              <ul class="grandchild">
              {% for grandchild_link in child_link.links %}
                <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
              {% endfor %}</ul>
            {% endif %}</li>
          {% endfor %}</ul>
        {% endif %}</li>
      {% endfor %}</ul>
    </div>

    <div class="help-services">
      <div class="help-area">
        <h4 class="help-header"><span class="spn-help">{{ section.settings.help_heading | escape }}</span></h4>
      </div>

      <div class="helper-text">
        {% for block in section.blocks %}
          {{ block.settings.helper_text}}
        {% endfor %}
      </div>

      <div class="help-links">
        <a href="{{ settings.helper_url }}">
          {% for block in section.blocks %}
            {{ block.settings.url_text}}
          {% endfor %}
        </a>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name" : "Footer",
    "settings" : [
      {
        "type" : "text",
        "id" : "txt_aboutus",
        "label" : "Heading"
      },
      {
        "type" : "link_list",
        "id" : "footer_menu",
        "label" : "Footer Menu"
      },
      {
        "type" : "text",
        "id" : "help_heading",
        "label" : "Help Heading"
      }
    ],

    "blocks" : [
      {
        "type" : "text",
        "name" : "About Us Text",

        "settings" : [
          {
            "type" : "richtext",
            "id" : "about_us",
            "label" : "About Us"
          }
        ]
      },

      {
        "type" : "helper",
        "name" : "Helper",

        "settings" : [
          {
            "type" : "richtext",
            "id" : "helper_text",
            "label" : "Add Helper Text"
          },
          {
            "type" : "url",
            "id" : "helper_url",
            "label" : "Add Helper Links"
          },
          {
            "type" : "text",
            "id" : "url_text",
            "label" : "Add Link"
          }
        ]
      }
    ]
  }
{% endschema %}