<header class="main-header">
  <div class="top">
    <div class="header-content clearfix">
    
    {% comment %}Logo{% endcomment %}
    <div class="logo">
      <div class="img">
        <a href="#">
          {%- assign src_name = section.settings.logo -%}
          {%- assign src_alt = section.settings.logo.alt -%}
          {% include 'srcset' %}
        </a>
      </div>
    </div>
    
    {% comment %}Navigation Bar{% endcomment %}
    <div class="navbar">
      <ul class="list">
        {% for link in linklists.main-menu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links != blank %}
              <ul class="child">
              {% for child_link in link.links %}  
                  <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                {% if child_link.links != blank %}
                    <ul class="grandchild">
                {% for grandchild_link in child_link.links %}  
                  <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
              {% endfor %}</ul>
            {% endif %}</li>
          {% endfor %}</ul> 
        {% endif %}</li>
      {% endfor %}</ul>
    </div>

    {% comment %}Side Menu Options{% endcomment %}
    <div class="side-menu">
      <ul class="side-list">
        <li><div class="img"><a href="#"><img src="{{ 'search.png' | asset_url }}" class="search"></a></div></li>
        <li class="list"><a href="#">search</a></li>
        <li class="list"><a href="#">sign in</a></li>
      </ul>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type" : "link_list",
        "id" : "main-menu",
        "label" : "Menu",
        "default" : "main-menu"
      },
      {
        "type" : "image_picker",
        "id"  : "logo",
        "label" : "Logo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}