<div class="home-banner-line">
  <hr class="bg-hr-banner">
</div>

<div class="home-banner">
  <div class="img">
    {%- assign src_name = section.settings.home_banner -%}
    {%- assign src_alt = section.settings.home_banner.alt -%}
    {% include 'srcset' %}
  </div>
</div>

{% schema %}
  {
    "name" : "Banner",
    "settings" : [
      {
        "type" : "image_picker",
        "id" : "home_banner",
        "label" : "Home Banner"
      }
    ],

    "presets": [
      {
        "category":"Custom Content",
        "name":"Home Banner"
      }
    ]
  }
{% endschema %}