<div class="shopping-banner-line">
  <hr class="bg-hr-featured">
</div>

<div class="shopping-banners">
  <div class="clearfix">
    <div class="banner-img">
      <div class="img">
        {%- assign src_name = section.settings.img_shopping -%}
        {%- assign src_alt = section.settings.img_shopping.alt -%}
        {% include 'srcset' %}
      </div>
    </div>
    
    <div class="banner-txt">
      <h3 class="heading"> {{ section.settings.txt_shopping_heading | escape }} </h3>
      {{ section.settings.txt_shopping}}
    </div>
  </div>
</div>

<div class="shopping-banners">
  <div class="clearfix">
    <div class="banner-txt">
      <h3 class="heading"> {{ section.settings.txt_fashion_heading | escape }} </h3>
      {{ section.settings.txt_fashion}}
    </div>

    <div class="banner-img">
      <div class="img">
        {%- assign src_name = section.settings.img_fashion -%}
        {%- assign src_alt = section.settings.img_fashion.alt -%}
        {% include 'srcset' %}
      </div>
    </div>
  </div>
</div>

<div class="shopping-banners">
  <div class="clearfix">
    <div class="banner-img">
      <div class="img">
        {%- assign src_name = section.settings.img_dress -%}
        {%- assign src_alt = section.settings.img_dress.alt -%}
        {% include 'srcset' %}
      </div>
    </div>
    
    <div class="banner-txt">
      <h3 class="heading"> {{ section.settings.txt_dress_heading | escape }} </h3>
      {{ section.settings.txt_dress}}
    </div>
  </div>
</div>

{% schema %}
  {
    "name" : "Shopping Banners",

    "settings" : [
      {
        "type" : "text",
        "id" : "txt_shopping_heading",
        "label" : "Shopping Banner-1 Heading"
      },
      {
        "type" : "richtext",
        "id" : "txt_shopping",
        "label" : "Shopping Banner-1 Text"
      },
      {
        "type" : "image_picker",
        "id" : "img_shopping",
        "label" : "Shopping Banner-1 Image"
      },

      {
        "type" : "text",
        "id" : "txt_fashion_heading",
        "label" : "Shopping Banner-2 Heading"
      },
      {
        "type" : "richtext",
        "id" : "txt_fashion",
        "label" : "Fashion Banner-2 Text"
      },
      {
        "type" : "image_picker",
        "id" : "img_fashion",
        "label" : "Shopping Banner-2 Image"
      },

      {
        "type" : "text",
        "id" : "txt_dress_heading",
        "label" : "Shopping Banner-3 Heading"
      },
      {
        "type" : "richtext",
        "id" : "txt_dress",
        "label" : "Dress Banner-3 Text"
      },
      {
        "type" : "image_picker",
        "id" : "img_dress",
        "label" : "Shopping Banner-3 Image"
      }
    ],

    "presets": [
      {
        "category":"Custom Content",
        "name":"Shoping Banners with texts"
      }
    ]
  }
{% endschema %}